<a href="https://colab.research.google.com/github/anupampatil44/Titanic_Kaggle/blob/master/Titanic_kaggle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("train.csv")
test=pd.read_csv("test.csv")

In [ ]:
df.head()

    PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
1             2         1       1  ...  71.2833   C85         C
3             4         1       1  ...  53.1000  C123         S
6             7         0       1  ...  51.8625   E46         S
10           11         1       3  ...  16.7000    G6         S
11           12         1       1  ...  26.5500  C103         S

[5 rows x 12 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 183 entries, 1 to 889
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  183 non-null    int64
 1   Survived     183 non-null    int64
 2   Pclass       183 non-null    int64
 3   Name         183 non-null    object
 4   Sex          183 non-null    object
 5   Age          183 non-null    float64
 6   SibSp        183 non-null    int64
 7   Parch        183 non-null    int64
 8   Ticket       183 non-null    object
 9   Fare         183 non-null    float64
 10  Cabin        183 non-null    object
 11  Embarked     183 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 18.6+ KB

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
labelEncoder=LabelEncoder()
labelEncoder.fit(df["Sex"].astype(str))
df["Sex"]=labelEncoder.transform(df["Sex"].astype(str))

labelEncoder.fit(df["Embarked"].astype(str))
df["Embarked"]=labelEncoder.transform(df["Embarked"].astype(str))

labelEncoder.fit(df["Ticket"].astype(str))
df["Ticket"]=labelEncoder.transform(df["Ticket"].astype(str))

labelEncoder.fit(df["Cabin"].astype(str))
df["Cabin"]=labelEncoder.transform(df["Cabin"].astype(str))

In [ ]:
df=df.fillna(df.mean())

In [ ]:
x=df.drop(["Name","Survived"], axis=1)
y=df["Survived"]

from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3, random_state=3)

from sklearn.ensemble import RandomForestClassifier
randomfor=RandomForestClassifier()
randomfor.fit(x_train,y_train)

print("Random Forest Accuracy for Original dataset (%):")
randomfor.score(x_test,y_test)*100

Random Forest Accuracy for Original dataset (%):

80.59701492537313

In [ ]:

labelEncoder=LabelEncoder()
labelEncoder.fit(test["Sex"].astype(str))
test["Sex"]=labelEncoder.transform(test["Sex"].astype(str))

labelEncoder.fit(test["Embarked"].astype(str))
test["Embarked"]=labelEncoder.transform(test["Embarked"].astype(str))

labelEncoder.fit(test["Ticket"].astype(str))
test["Ticket"]=labelEncoder.transform(test["Ticket"].astype(str))

labelEncoder.fit(test["Cabin"].astype(str))
test["Cabin"]=labelEncoder.transform(test["Cabin"].astype(str))

test=test.fillna(test.mean())
t=test.drop("Name",axis=1)
predictions=randomfor.predict(t)
predictions

array([0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1,
       1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1,
       1, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0,
       0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1])

In [ ]:
submission = pd.DataFrame({'PassengerId':test['PassengerId'],'Survived':predictions})

In [ ]:
submission.to_csv("Titanic Prediction.csv",index=False)